@{
    ViewBag.Title = "Contact";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>MуBudget</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
    @Styles.Render("~/Content/css")
    <title>Выравнивание фотографии по центру</title>
</head>



<body>
    <div class="container">
        <div id="heading">
            <h1> ОБРАТНАЯ СВЯЗЬ</h1>
        </div>
    </div>
</body>

<div class="container">
    <p>
        Со всеми вопросами, предложениями и отзывами можете обращаться по почте или по адресу:
        г.Ульяновск, ул. Спасская, д.16.
        <address>
            <a href="mailto:daria_uvarova.98@mail.ru">daria_uvarova.98@mail.ru</a><br />
        </address>
    </p>
</div>


<p class="fig">
    <img src="~/img/friends.jpg"
         width="680" height="320" alt="Фотография">
</p>
