@{
    ViewBag.Title = "Home Page";
}
<div id="heading">
    <h1> Фотогалерея</h1>
</div>
<blockquote>
    <p>
        Фотогалерея
    </p>
    <cite> Всегда рады вас видеть</cite>
</blockquote>

<img src="img/1.jpg" alt="">

<img src="img/2.jpg" alt="">
<img src="img/3.jpg" alt="">