
@{
    ViewBag.Title = "Uslugis";
}



@model IEnumerable<WeBudget.Service.Abstract.BaseEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>MуBudget</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <title>Выравнивание фотографии по центру</title>
</head>




<body>
    <h2>Услуги</h2>


    @{ var grid = new WebGrid(Model); }


    
        <div style="display:block; width:100% !important; overflow:hidden;">
        @grid.GetHtml(columns: grid.Columns(
                                                  grid.Column("Id", "№"),
                                                  grid.Column("Day", "Day"),
                                                  grid.Column("Month", "Month"),
                                                  grid.Column("Sum", "Sum"),
                                                  grid.Column("Comment", "Comment"),
                                                  grid.Column("Edit", format: @<a href="~/Uslugi/EditUslugi/@item.Id"> Edit</a>),
                                                             grid.Column("Delete", format: @<a href="~/Uslugi/DeleteUslugi/@item.Id"> Delete </a>)
                                                               ), tableStyle: "table-bordered")
        </div>
  

    <input type="button" value="Добавить" onClick='location.href="CreateUslugi"'>

</body>